<h1>{{post.title}}</h1><iframe class="col-md-8" ng-src="{{post.youtube_url}}" frameborder="0" allowfullscreen></iframe><p>{{post.description }}</p><div id="contentad48429"></div><script type="text/javascript">(function() {
        var params =
        {
            id: "51be9f22-7997-4184-b422-c5ce79af13ff",
            d:  "ZGFpbHlwaXRidWxsLnR2",
            wid: "48429",
            cb: (new Date()).getTime()
        };

        var qs="";
        for(var key in params){qs+=key+"="+params[key]+"&"}
        qs=qs.substring(0,qs.length-1);
        var s = document.createElement("script");
        s.type= 'text/javascript';
        s.src = "http://api.content.ad/Scripts/widget.aspx?" + qs;
        s.async = true;
        document.getElementById("contentad48429").appendChild(s);
    })();</script>